<!-- OLD CATEGORY LAYOUT -->
<div class="container-fluid">
  {{# each category}}
    <div class="row">
      {{# each this}}
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="{{ this.imagePath }}" alt="...">
          <div class="caption clearfix">
            <h3>{{this.title}}</h3>
            <p class="description">{{this.description}}</p>
  <!-- passing item id -->
            <p><a href="/products/{{this._id}}" class="btn btn-default pull-right pull-down" role="button">More</a></p>
          </div>
        </div>
      </div>
      {{/each}}
    </div><!-- row -->
  {{/each}}
</div>
