<!-- <div class="container-fluid">
  <div class="section-header">
    <h1 class="text-center">OUR CLIENTS</h1>
    {{# each client}}
      <div class="row">
        {{# each this}}
          <div class="col-sm-12 col-md-2">
            <div class="Aligner">
              <img class=" img-responsive" src="{{ this.logo }}" alt="{{ this.name }}">
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div> -->
<div class="container">
  <div class="section-header">
    <h1 class="text-center">OUR CLIENTS</h1>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/verawang.png" alt="Vera Wang">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/mecca.png" alt="Mecca">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/gettyimages.svg" alt="Getty Images">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/nova.png" alt="Nova">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/novotel.jpg" alt="Novotel">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/practicalparenting.svg" alt="Practical Parenting">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class="img-responsive" src="../images/sportscraft.png" alt="Sportscraft">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/lifestylesuite.png" alt="Lifestyle Suite">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/beautybase.png" alt="Beauty Base">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="../images/7.png" alt="Channel 7">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="http://placehold.it/165x40" alt="Brand">
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class=" img-responsive" src="http://placehold.it/165x40" alt="Brand">
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-sm-12 col-md-2">
        <div class="Aligner">
          <img class="img-responsive" src="../images/sportscraft.png" alt="Sportscraft">
          <img class=" img-responsive" src="../images/lifestylesuite.png" alt="Lifestyle Suite">
          <img class=" img-responsive" src="../images/beautybase.png" alt="Beauty Base">
          <img class=" img-responsive" src="../images/7.png" alt="Channel 7">
          <img class=" img-responsive" src="https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwibpYD8-8rRAhXBbbwKHSIXBRgQjRwIBw&url=http%3A%2F%2Fstackoverflow.com%2Fquestions%2F39973691%2Ftwo-part-bootstrap-navigation-menu-with-logo-in-the-center&psig=AFQjCNHl8Rf8UX9W9ay8IlGnprwX9I_U_w&ust=1484803970968155" alt="Brand">
          <img class=" img-responsive" src="https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwibpYD8-8rRAhXBbbwKHSIXBRgQjRwIBw&url=http%3A%2F%2Fstackoverflow.com%2Fquestions%2F39973691%2Ftwo-part-bootstrap-navigation-menu-with-logo-in-the-center&psig=AFQjCNHl8Rf8UX9W9ay8IlGnprwX9I_U_w&ust=1484803970968155" alt="Brand">
        </div>
      </div>
    </div> -->
</div>
