<footer class="footer">
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-left">&copy; 2016 THE FLOWERWALL P/L &nbsp|&nbsp WEBSITE BY<a target="_blank" href="http://chibui.me">&nbspCB</a></p>
      </div>
      <div class="col-sm-4">
        <div class="text-center cb">

        </div>
      </div>
      <div class="footer-social col-sm-4 text-right">
        <a target="_blank" href="https://www.facebook.com/theflowerwallsydney"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/the_flowerwall/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://au.pinterest.com/monica_cassidy/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
</footer>
