@import "gallery.css";
@import "nav.css";
@import "contact-form.css";
@import "landing-cover.css";
@import "footer.css";
@import "hero.css";

/* thumbnail styling */
.thumbnail {
  min-height: 430px;
}
.thumbnail img {
  max-height: 200px;
}
.thumbnail .description {
  color: grey;
}

/*Removes the guttering between two columns and not the first or last-child*/
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*Section Header*/
.section-header {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'EB Garamond';*/
  letter-spacing: 2px;

  color: #E5CAB1
}

/*Section text*/
.section-text {
  color: #7A7D7C;
  letter-spacing: 2px;
}
.section-padding {
  padding-bottom: 5em;
  padding-top: 5em;
}

.header-padding-bottom {
  padding-bottom: 6vh;
}

/*Verticle Alignment*/
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15em;
}

/*Index*/
body {
  margin-top: -10px ;
}
