.thumbnail {
  min-height: 430px;
}

.thumbnail img {
  max-height: 200px;
}

.thumbnail .description {
  color: grey;
}

nav.navbar {
  padding-top: 5px;
  margin-bottom: -10%;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}
.fa {
  color: #C5B5A1;
  font-size: 20px;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  /*font-weight: bold;*/
}
