<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    {{# if successMsg }}
      <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
        {{ successMsg }}
      </div>
    {{/ if}}
  </div>
</div>

<div class="container">
  <div class="section-padding">
    <div class="section-header">
      <h1 class="text-center">SEND US A MESSAGE</h1>
    </div>
    <div class="section-text">
      <div class="text-center">
        <br>
        <h4>Got a question? Have you checked out our <span><a href="/faq">FAQ</a></span> section?</h4>
        <br>
        <h4>Still can't find what you're looking for,</h4>
        <h4>Feel free to leave us a message and we'll get back to you.</h4>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="gform">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJGss2mLewpBVwUghFJc-F1lucLoGlLW5d7MeQCE9pH1VkTQ/viewform?embedded=true" frameborder="0" scrolling="no" >Loading...</iframe>
</div>
