<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    {{# if successMsg }}
      <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
        {{ successMsg }}
      </div>
    {{/ if}}
  </div>
</div>

<div class="container">
  <div class="header-padding-bottom">
    <div class="section-header">
      <h1 class="text-center">Lorem ipsum dolor sit amet</h1>
    </div>
    <div class="section-text">
      <div class="text-center">
        <h4>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      </div>
    </div>

  </div>

</div>
