<h2 class="page-header">Welcome {{user.name}}</h2>
<p>Welcome to views/shop/index.hbs</p>

<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="http://www.theflowerwall.com.au/wp-content/uploads/2016/09/deluxeflower-1350x900.jpg" alt="Ivory Bliss" class="image-responsive">
      <div class="caption clearfix">
        <h3>Ivory Bliss</h3>
        <p class="description">Our heaven on earth 9.6m Ivory flower wall is Sydney's largest flower wall, making it's debut at the first ever Vera Wang Bridal showcase in Sydney!</p>
        <p><a href="#" class="btn btn-default pull-right" role="button">More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="http://www.theflowerwall.com.au/wp-content/uploads/2015/08/2016-10-16-74072C-1350x900.jpg" alt="Wisteria" class="image-responsive">
      <div class="caption clearfix">
        <h3>Wisteria</h3>
        <p class="description">Celebrate your special event with our our gorgeous, cascading blooms of wisteria, up to 6m long!</p>
        <p><a href="#" class="btn btn-default pull-right" role="button">More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="http://www.theflowerwall.com.au/wp-content/uploads/2016/08/2016-8-13-74078C-1024x683.jpg" alt="Eliza" class="image-responsive">
      <div class="caption clearfix">
        <h3>Eliza</h3>
        <p class="description">Making it's first debut at the Sydney Opera House for the cast announcement of "my Fair Lady" by Dame Julie Andrews, we are proud to have Eliza in our exquisite collection of walls.</p>
        <p><a href="#" class="btn btn-default pull-right" role="button">More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="http://www.theflowerwall.com.au/wp-content/uploads/2015/08/12194502_1502943426667990_550757491660103394_o-1024x728.jpg" alt="Classic Ivory" class="image-responsive">
      <div class="caption clearfix">
        <h3>Classic Ivory</h3>
        <p class="description">The flowers wall's most wanted is our Classic Ivory flower wall! A deluxe selection of ivory, and white roses, mixed with hydrangeas and babies breaths, she creates a magical ambience bringing lovers together.</p>
        <p><a href="#" class="btn btn-default pull-right" role="button">More</a></p>
      </div>
    </div>
  </div>
</div>
